/*
Colors used
Background color (Lavender): #E6E6FA;
Text Color (Dark Gray): ; #2b2b2b;
Primary Color (Indygo): #412F4B;
Secondary Color (Thistle): #D8BFD8;
Secondary Color (Light Gray) #D3D3D3;
tertiary color (green) #637864;
additional color (melon): f9b5ac;
 */
:root {
    --primary-color: #E6E6FA;
    --secondary-color: #412F4B;
    --tertiary-color: indigo;
    --light-indigo: #6f26a3;
    --dark-violet: #2e0051;
    --button-violet: #9370db;
    --buttonpink: #d8bfd8;
    --dark-grey: #2b2b2b;
    --dark-green: #3d4a3e;
    --green: #637864;
    --light-green: #92ac92;
    --super-light-green: #d8e9d8;
    --opaque-color: #cad7ca50;
    --blue: #3b4bf9;

    --standardfontweight: 400;
    --headingfontweight: 700;
    --mainfont: "Lato", sans-serif;
    --mainfontsize: 16px;
    --honefontsize: 28px;
    --htwofontsize: 24px;
    --mediafontsize: 22px;
    --standardlineh: 1.6;
    --plineh: 1.3;
    --standardtransition: 0.4s opacity, 0.5s background-color, 0.4s font-size;
    --standardbradius: 15px;
    --picbradius: 50% 50%;
    --aboutborder: dotted 3px #637864;
    --buttonw: 120px;




}


* {
    box-sizing: border-box;
}

body {
    background-color: var(--primary-color);
    color: var(--dark-grey);
    font-family: var(--mainfont);
    font-weight: var(--standardfontweight);
    font-size: var(--mainfontsize);
    line-height: var(--standardlineh);
}

main {
    margin-top: 40px;
    margin-bottom: 70px;
}

h1 {
    font-size: var(--honefontsize);
    font-weight: var(--headingfontweight);
}

h2 {
    font-size: var(--htwofontsize);
    font-weight: var(--headingfontweight);
}

p {
    line-height: var(--plineh);
}

a {
    color: var(--light-indigo);
}

a:visited {
    color: var(--green);
}

a:hover {
    text-decoration: none;
}

a:focus {
    outline: 2px solid, var(--tertiary-color);
}

a:active {
    color: var(--blue);
}

button,
.button_form,
.CV_button,
.default_button,
.secondary_button,
.tertiary_button,
.additional_button {
    border: none;
    font-family: inherit;
    font-size: var(--mainfontsize);
    text-align: center;
    background-color: var(--dark-violet);
    color: var(--button-violet);
    text-decoration: none;
    padding: 10px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
    display: inline-block;
    border-radius: var(--standardbradius);
    transition: var(--standardtransition);
}

.default_button {
    width: 120px;
    margin: 5px;
}

.secondary_button {
    background-color: var(--buttonpink);
    color: var(--tertiary-color);
    width: var(--buttonw);
    margin: 5px;

}

.tertiary_button {
    background-color: var(--button-violet);
    color: var(--dark-violet);
    width: var(--buttonw);
    margin: 5px;
}

.additional_button {
    background-color: var(--light-green);
    color: var(--tertiary-color);
    width: var(--buttonw);
    margin: 5px;
}

.button_form {
    margin-left: 80px;
}

button:hover,
button:focus,
.additional_button:hover,
.additional_button:focus,
.default_button:hover,
.default_button:focus,
.secondary_button:hover,
.secondary_button:focus,
.tertiary_button:hover,
.tertiary_button:focus,
.CV_button:hover,
.CV_button:focus,
.button_form:hover,
.button_form:focus {
    cursor: pointer;
    opacity: 0.6;
}

ul {
    font-weight: bold;
    list-style-type: none;
}

.navigation-list li {
    display: inline-block;
    margin-left: 15px;
}

.navigation-list_item--active {
    display: inline-block;
    border: solid;
    border-color: var(--dark-green);
    border-radius: var(--standardbradius);
    width: 122px;
    margin: 7px;
}

table {
    width: 60%;
}

th {
    background-color: var(--tertiary-color);
    color: var(--primary-color);
    padding: 10px;
}

tr:nth-child(even) {
    background-color: var(--light-green);
}

ul.list_centered {
    display: inline-block;
    text-align: left;
}

.profile {
    max-width: 700px;
    margin: 60px auto;
}

.profile_portrait {
    float: left;
    width: 200px;
    margin-right: 20px;
    border-radius: var(--picbradius);
}

.berlin-illustration {
    display: flex;
    justify-content: center;
    margin: 30px auto;
}

.page_footer {
    clear: both;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.page-header {
    background: var(--super-light-green);
    box-shadow: 0 4px 6px rgba(34, 60, 80, .16);
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    display: flex;
    width: 100%;
    padding: 20px 20px;
    height: 6rem;
    justify-content: center;
    align-items: center;
    /* z-index: 11; */
}

.page-header_item {
    flex: 0 1 200px;
    margin-top: 5px;
    margin-left: 10px;
}

.page-header_item:last-child {
    flex-grow: 1;
    text-align: right;
}

.main-navigation page-header_item {
    margin-top: 15px;
    margin-right: 10px;
}

.page_logo {
    border-radius: 15px;
}

/* start grid fallback */
.grid_item {
    display: inline-block;
    width: 33%;
}

/* end grid fallback */

@supports (display: grid) {

    .grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 20px;
        margin: 0;
    }

    .grid_item {
        background-color: #d4d1d4;
        width: auto;
        min-width: auto;
        margin: 0;
        padding: 30px;
    }

    .grid_item:last-child {
        grid-column-start: 3;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 3;
    }
}

.about {
    clear: both;
    display: flex;
    width: auto;
    flex-direction: column;
    text-align: center;
    align-self: center;
    background-color: var(--secondary-color);
    list-style: none;
    border: var(--aboutborder);
    margin-left: 350px;
    margin-right: 350px;
}


.about div:last-child {
    text-align: center;
    justify-content: center;

}

.wrapper {
    display: flex;
    width: 100%;
    flex-direction: row;
}

.wrapper div {
    display: flex;
    border: var(--aboutborder);
    margin: 10px;
    flex-basis: auto;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    margin-bottom: 50px;
    padding: 8px;
    background-color: var(--super-light-green);
    opacity: 2.5
}

.container {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.contact_form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.div_mail {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

form.form_layout {
    display: table;
    padding: 20px;
    border-color: var(--dark-violet);
    background-color: var(--opaque-color);
    border-style: dotted;
}

div.div_layout {
    display: table;
    margin: 2px;
}

label,
input {
    display: table-cell;
    margin-bottom: 10px;
}

label.standard-label_one {
    padding-right: 38px;
}

label.standard-label_two {
    padding-right: 10px;
}

label.standard-label_three {
    padding-right: 20px;
}

textarea {
    width: 180px;
}

.container_contact {
    display: flex;
    width: 100%auto;
    justify-content: center;
    border: dotted var(--dark-violet);
    background-color: var(--opaque-color);
    margin-left: 200px;
    margin-right: 200px;
}

.container_contact div {
    display: flex;
    flex-direction: column;
    border: none;
    flex-basis: auto;
    justify-content: center;
    align-items: center;
    margin-top: 1px;
    margin-bottom: 1px;
}

.contact_details {
    display: flex;
    flex-direction: column;
}

.container_contact div:second_child {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
}

.contact_img {
    display: flex;
    flex-direction: row;
    place-content: start;
}

@media all and (max-width: 750px) {
    @media all and (max-width: 500px) {
        .grid {
            grid-template-columns: 1fr;
        }
    }

    @media all and (min-width: 500px) and (max-width: 750px) {
        .grid {
            grid-template-columns: 1fr 1fr;
        }
    }

    @media all and (max-width: 750px) {
        .grid {
            grid-gap: 10px;
        }

        .grid_item:last-child {
            grid-column: auto / auto;
            grid-row: auto / auto;
        }

        h1 {
            font-size: var(--mediafontsize);
        }
    }
}

@keyframes color-change {
    0% {
        fill: #edc655;
    }

    50% {
        fill: #fcffad;
    }

    100% {
        fill: #f76414;
    }
}

.sun {
    animation: 4s color-change infinite alternate linear;
}

@keyframes cloud-move {
    from {
        transform: translate(0, 50px);
    }

    to {
        transform: translate(200px, 50px);
    }
}

.cloud-front {
    animation: 30s cloud-move infinite alternate linear;
}

@keyframes cloud-move-reverse {
    from {
        transform: translate(446px, 48px);
    }

    to {
        transform: translate(100px, 48px);
    }
}

.cloud-back {
    animation: 34s cloud-move-reverse infinite alternate linear;
}

@keyframes letter1-move-reverse {
    from {
        transform: translate(50px, 25px);
    }

    to {
        transform: translate(-100px, 25px);
    }
}

.letter1,
.letter2 {
    animation: 10s letter1-move-reverse infinite alternate linear;
}