:root {
    --primary-color: #faf9f6d0;
    --secondary-color: #BDC3CB;
    --tertiary-color: #AD9787;
    --link: #103155;
    --dusty-rose: #CCAFA5;
    --sand: #DCD2CC;
    --ivory: #EDE7DC;
    --dark-grey: #2b2b2b;
    --link-visited: #234560;
    --light-blue: #DAE3E6;
    --sea-blue: #2F6D80;
    --grey-blue: #5c7d9a;
    --light-sand: #ece7e4;
    --link-active: #3b4bf9;

    --standardfontweight: 400;
    --headingfontweight: 700;
    --buttonfontw: 600;
    --mainfont: "Lato", sans-serif;
    --mainfontsize: 16px;
    --honefontsize: 28px;
    --htwofontsize: 24px;
    --mediafontsize: 22px;
    --standardlineh: 1.6;
    --plineh: 1.3;
    --standardtransition: 0.4s opacity, 0.5s background-color, 0.4s font-size;
    --standardbradius: 15px;
    --picbradius: 50% 50%;
    --aboutborder: solid 2px #CCAFA5;
    --buttonw: 120px;
    --boxshadow: 0 4px 6px #223c5075;
    --navbarheight: 6rem;


}


* {
    box-sizing: border-box;
}

/* ======================================================================
   Base / Root / Resets
   ====================================================================== */

body {
    background-color: var(--primary-color);
    color: var(--dark-grey);
    font-family: var(--mainfont);
    font-weight: var(--standardfontweight);
    font-size: var(--mainfontsize);
    line-height: var(--standardlineh);
    padding-top: var(--navbarheight);
}

/* ======================================================================
   Main
   ====================================================================== */
main {
    position: relative;
    margin-bottom: 70px;
}
/* ======================================================================
   Typography (headings, paragraphs, buttons, links)
   ====================================================================== */

h1 {
    font-size: var(--honefontsize);
    font-weight: var(--headingfontweight);
}

h2 {
    font-size: var(--htwofontsize);
    font-weight: var(--headingfontweight);
}

p {
    line-height: var(--plineh);
}

a {
    color: var(--link);
}

a:visited {
    color: var(--link-visited);
}

a:hover {
    text-decoration: none;
}

a:focus {
    outline: 2px solid, var(--tertiary-color);
}

a:active {
    color: var(--link-active);
}

button,
.button_form,
.CV_button,
.default_button,
.secondary_button,
.tertiary_button,
.additional_button {
    border: none;
    font-family: inherit;
    font-size: var(--mainfontsize);
    font-weight: 600;
    text-align: center;
    background-color: var(--tertiary-color);
    color: var(--link);
    text-decoration: none;
    padding: 10px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
    display: inline-block;
    border-radius: var(--standardbradius);
    transition: var(--standardtransition);
}

.default_button {
    width: 120px;
    margin: 5px;
}

.secondary_button {
    background-color: var(--ivory);
    color: var(--sea-blue);
    width: var(--buttonw);
    margin: 5px;

}

.tertiary_button {
    background-color: var(--sand);
    color: var(--sea-blue);
    width: var(--buttonw);
    margin: 5px;
}

.additional_button {
    background-color: var(--dusty-rose);
    color: var(--sea-blue);
    width: var(--buttonw);
    margin: 5px;
}

.button_form {
    margin-left: 80px;
}

button:hover,
button:focus,
.additional_button:hover,
.additional_button:focus,
.default_button:hover,
.default_button:focus,
.secondary_button:hover,
.secondary_button:focus,
.tertiary_button:hover,
.tertiary_button:focus,
.CV_button:hover,
.CV_button:focus,
.button_form:hover,
.button_form:focus {
    cursor: pointer;
    opacity: 0.8;
}

/* ======================================================================
   Header
   ====================================================================== */

.header {
    top: 0;
    display: flex;
    width: 100%;
    padding: 20px 20px;
    align-items: center;
}

.navbar {
    top: 0;
    display: flex;
    width: 100%;
    padding: 5px 7px;
    align-items: center;
    z-index: 890; /* put header above content */
}

.custom-navbar {
    background-color: rgba(92, 125, 154, 0.85);
    box-shadow: var(--boxshadow);
    backdrop-filter: blur(8px);
}

.container-fluid {
    align-items: center;
    width: 100%;
}

.navbar-brand img {
    height: 100px;
    border-radius: 50%;
    box-shadow: var(--boxshadow);
}

.nav-link.active {
  font-weight: 600;
  color: var(--link-active);
}


/* ======================================================================
   Footer
   ====================================================================== */

.page_footer {
    clear: both;
    display: flex;
    flex-direction: column;
    text-align: center;
}

/* ======================================================================
   Generic / Utilities ( lists, tables)
   ====================================================================== */

ul {
    font-weight: bold;
    list-style-type: none;
}

table {
    width: 60%;
}

th {
    background-color: var(--grey-blue);
    color: var(--primary-color);
    padding: 10px;
}

tr:nth-child(even) {
    background-color: var(--light-blue);
}
tr:nth-child(odd) {
    background-color: var(--ivory);
}

.ul.list_centered { display: inline-block; text-align: left; }

/* ======================================================================
   Home page (main profile / hero / grid styles)
   ====================================================================== */

.main_profile {
    border: solid 2px var(--sea-blue);
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 100px;
    margin-bottom: 70px;
}

.profile {
    max-width: 700px;
    margin: 60px auto 90px;
}

.profile_portrait {
    float: left;
    width: 200px;
    margin-right: 20px;
    border-radius: var(--picbradius);
}

.berlin-illustration {
    display: flex;
    justify-content: center;
    margin: 30px auto 50px;
}



/* ======================================================================
   About page
   ====================================================================== */

.about {
    clear: both;
    display: flex;
    width: auto;
    flex-direction: column;
    text-align: center;
    align-self: center;
    background-color: var(--light-blue);
    list-style: none;
    border: none;
    margin-left: 350px;
    margin-right: 350px;
    margin-bottom: 40px;
}

.about div:last-child { text-align: center; justify-content: center; }

.wrapper { display: flex; width: 100%; flex-direction: row; }

.wrapper div {
    display: flex; border: none; margin-left: 20px; margin-right: 20px; flex-basis: auto;
    justify-content: center; align-items: center; flex-flow: row wrap; margin-bottom: 40px;
    padding: 8px; background-color: var(--light-blue); opacity: 2.5;
}

.container { display: flex; width: 100%; flex-direction: column; align-items: center; }

/* .intro {  small adjustments used in responsive } */  

/* ======================================================================
   my_work page (projects grid)
   ====================================================================== */
/* grid fallback */
/*     .grid_item { display: inline-block; width: 33%; }
 */
@supports (display: grid) {
    .grid { 
        display: grid; 
        grid-template-columns: 1fr 1fr 1fr; 
        grid-gap: 20px;
        grid-auto-rows: 1fr;
    }
    .grid_item { 
        display: flex;
        flex-direction: column;
        background-color: var(--light-sand); 
        margin: 0; 
     }
    .grid_item:nth-child(5) { 
        grid-column-start: 3; 
        grid-column-end: 3; 
        grid-row-start: 1; 
        grid-row-end: 3; }
}

.page_content { 
    max-width: 1200px;
    margin: 50px auto;
    padding: 0 20px;
}

/* CARDS */

.custom_header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1fr;
    margin: 0;
    padding: 0;
    object-fit: cover;
}

.card-img-top {
    width: 100%;
    height: fit-content;
}

.custom-card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height: 100px;
}

.card-title {
    font-size: var(--htwofontsize);
    font-weight: var(--headingfontweight);
    text-align: center;
    align-content: center;
    line-height: 1.3;
    min-height: 2.6em;
}

.card-footer {
    display: flex;
    justify-content: flex-end;
    padding: 0.75rem 1rem;
    border-top: none;
    background-color: var(--light-sand);
}

/* MODAL */

.custom-modal {
    display: flex;
    flex-direction: column;
    border: none;
    background-color: var(--light-sand);
}
.custom-modal-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.modal-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px;
}

.modal_image_container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1fr;
    margin: 0;
    padding: 0;
    object-fit: cover;
}
.modal_image { 
    width: 100%;
    height: fit-content;
}

.custom-modal-text p {
    padding: 20px;
    background-color: var(--light-sand);
    width: 100%;
    margin: 0;
}

/* ======================================================================
   Contact page
   ====================================================================== */

.container_contact {
    display: flex; width: auto; justify-content: center; border: none; background-color: var(--light-sand);
    margin-left: 200px; margin-right: 200px;
}

.container_contact div {
    display: flex; flex-direction: column; border: none; flex-basis: auto;
    justify-content: center; align-items: center; margin-top: 1px; margin-bottom: 1px;
}

.contact_details { display: flex; flex-direction: column; }

.contact_img { display: flex; flex-direction: row; place-content: start; }


/* ======================================================================
   Media queries and Utility Keyframes
   ====================================================================== */

@media all and (max-width: 750px) {
    main { margin-top: 80px; }
    body { line-height: var(--plineh); }
    .container_contact { display: block; width: 70%; margin: auto; justify-content: center; text-align: center; }
    .about, .wrapper { display: block; width: 70%; margin: auto; justify-content: center; text-align: center; font-size: 13px; }
    .container_table { display: block; width: auto; margin: auto; justify-content: center; text-align: center; padding-bottom: 20px; }
    .intro { display: block; width: 90%; margin: 150px auto; font-size: 14px; }
    .profile_portrait { display: block; width: auto; margin-left: 30px; }
    .berlin-illustration { width: 80%; height: 80%; margin: 0px auto; }
        .grid { grid-gap: 10px; }
        .grid_item:last-child { grid-column: auto / auto; grid-row: auto / auto; }
        h1 { font-size: var(--mediafontsize); }
}
@media all and (max-width: 500px) {
    .grid { grid-template-columns: 1fr; }
    .custom-navbar { margin-top: 0px;
                     align-items: center;  }
    }
@media all and (min-width: 100px) and (max-width: 996px) {
        .header { display: flex; 
                  align-content: center;
                  align-items: center; }
        .custom-navbar { 
            align-content: center; 
        }    

    @media all and (min-width: 500px) and (max-width: 750px) {
        .grid { grid-template-columns: 1fr 1fr; }
    }
}

@media all and (min-width: 750px) and (max-width: 1110px) {
    main { margin-top: 70px; }
    .container_contact { display: block; width: 60%; margin: auto; justify-content: center; text-align: center; }
    .about { display: block; width: 70%; margin: auto; justify-content: center; text-align: center; }
    .container_table { display: block; width: auto; margin: auto; justify-content: center; text-align: center; padding-bottom: 20px; }
}

@keyframes color-change { 0% { fill: #edc655; } 50% { fill: #fcffad; } 100% { fill: #bf683a; } }
.sun { animation: 4s color-change infinite alternate linear; }
@keyframes cloud-move { from { transform: translate(0, 50px); } to { transform: translate(200px, 50px); } }
.cloud-front { animation: 30s cloud-move infinite alternate linear; }
@keyframes cloud-move-reverse { from { transform: translate(446px, 48px); } to { transform: translate(100px, 48px); } }
.cloud-back { animation: 34s cloud-move-reverse infinite alternate linear; }
@keyframes letter1-move-reverse { from { transform: translate(50px, 25px); } to { transform: translate(-100px, 25px); } }
.letter1, .letter2, .letter3 { animation: 10s letter1-move-reverse infinite alternate linear; }
