    
 <!-- Bootstrap-Navbar with Image -->
<nav class="navbar navbar-expand-lg fixed-top custom-navbar">
  <div class="container-fluid">
    <a class="navbar-brand" href="index.html">
        <img src="img/blue_logo.png" alt="Logo" class="page_logo">   
    </a>
    <button 
	class="navbar-toggler ms-auto" 
	type="button" 
	data-bs-toggle="collapse" 
	data-bs-target="#mainNavbar" 
	aria-controls="mainNavbar" 
	aria-expanded="false" 
	aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="mainNavbar">
	<ul class="navbar-nav ms-auto">
        <li class="nav-item">
            <a class="nav-link" role="menuitem" href="index.html">Home</a>
        </li>
        <li>
            <a class="nav-link" role="menuitem" href="about.html">About</a>
        </li>
        <li>
            <a class="nav-link" role="menuitem" href="my_work.html">Projects</a>
        </li>
<!--         <li>
            <a class="nav-link" role="menuitem" href="contact.html">Contact</a>
        </li> -->
	</ul>
    </div>
  </div>
</nav>
 <!-- End of Bootstrap-Navbar with Image -->
 
